.user
  .container
    .left.pull-left
      .circle
        %img{src: @user.avatar_url}
    .right
      .box
        %h1= @user.name
        %p
          - (@user.attributes.keys - %w(_id github_token)).each do |attr|
            ="#{attr}: #{@user.send(attr)}"
            %br/