%script#user-json{type: "application/json"}
  != @user.to_json(except: [:github_token, :linkedin_token, :linkedin_secret, :email])

%script#owner
  != current_user.github_id == @user.github_id

.user{"data-github-id" => @user.github_id}