.user
  .container
    .left.pull-left
      .circle
        %img{src: "https://gravatar.com/avatar/#{@user.gravatar_id}?s=192.png"}
    .right
      .box
        %h1= @user.name
        %p
          - (@user.attributes.keys - %w(_id github_token sessions)).each do |attr|
            ="#{attr}: #{@user.send(attr)}"
            %br/