.container
  %h2
    About
  .box.about
    = "#{Rails.application.class.parent_name} is open source and made with the following technologies:"
    %ul.list-group
      - %w(Backbone.js Twitter\ Bootstrap CoffeeScript HAML jQuery MongoDB OmniAuth Ruby\ on\ Rails SASS).each do |tech|
        %li.list-group-item= tech