.container
  %h2
    About
  .box.about
    = "#{Rails.application.class.parent_name} is open source and made with the following technologies:"
    %ul.list-group
      - %w(Ruby\ on\ Rails MongoDB Git OmniAuth jQuery Twitter\ Bootstrap HAML CoffeeScript SASS Sugar,\ spice,\ and\ everything\ nice).each do |tech|
        %li.list-group-item= tech