.jumbotron
  .container
    .left
      %h1 Resumés made easy
      %p Devport combines your work experience and portfolio into one convenient webpage to present to employers
    .right
      %img{src: image_path("header-illustration.png")}