.jumbotron
  .container
    .left
      %h1 Resumés made easy
      %p Devport combines your work experience and portfolio into one convenient webpage to present to employers
    .right
      %img{src: image_path("header-illustration.png")}
.container
  %h2.text-center Why use Devport?
  .box
    .left
      %div
        %h3 Aggregate existing data
        %p A single page with data from your GitHub, LinkedIn, Twitter, and blog
      %div
        %h3 No account creation
        %p Sign in securely using only your GitHub account
      %div
        %h3 Convenient for employers
        %p Browse a Devport profile instead of trawling through multiple website profiles
    .right
      %div
        %h3 Upload media
        %p Include screenshots and links to project pages
      %div
        %h3 Maintain privacy
        %p Easily add and remove data at your discretion
      %div
        %h3 Convenient for you
        %p Send one impactful link instead of many bland ones