$bg-color: rgb(239, 239, 240);
$fg-color: rgb(255, 255, 255);
$fg-border-color: rgb(200, 200, 200);
$header-color: rgb(111, 111, 111);
$fg-text-color: rgb(119, 119, 119);
$footer-color: rgb(55, 63, 75);
$footer-text-color: rgb(160, 164, 168);
$footer-border-color: rgb(39, 44, 52);
$footer-height: 45px;
$font: "Open Sans";
$header-font: "Helvetica Neue", "Open Sans";
$code-font: "Inconsolata";

@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin only-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}