.jumbotron {
  background-image: url(image-path("header.png"));;
  background-position: bottom;
  height: 325px;
  padding-top: 75px;
}

.jumbotron h1 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.jumbotron .left {
  width: 60%;
}

.jumbotron .right {
  width: 40%;
}

.jumbotron .right img {
  width: 434px;
  height: 184px;
  float: right;
}