.jumbotron {
  background-image: url(image-path("header.png"));;
  background-position: bottom;
  height: auto;
  padding-top: 75px;
}

.jumbotron h1 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.jumbotron .right {
  width: 434px;
  height: 184px;
}

.jumbotron .right img {
  width: 100%;
  height: 100%;
}