.jumbotron {
  background-image: url(image-path("header.png"));;
  background-position: bottom;
  height: 300px;
  padding-top: 75px;
}

.jumbotron h1 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.jumbotron .left {
  width: 60%;
  height: 100%;
  float: left;
}

.jumbotron .right {
  width: 40%;
  height: 100%;
  float: right;
}

.jumbotron .right img {
  width: 100%;
  height: 100%;
  float: right;
}