.session {
  border-radius: 8px;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid rgb(200, 200, 200);
  background-color: #F9F9F9;
  height: auto;
  overflow: auto;
}

.session .left, .session .right {
  width: auto;
}