.user {
  padding-top: 25px;
}

.user .left, .user .right {
  width: auto;
  float: none;
}

.circle {
  line-height: 0;
  margin: 5px;
  border-radius: 50%;
  height: auto;
  width: auto;
}
.circle img {
  border-radius: 50%;
  height: 192px;
  width: 192px;
}