@import "mixins";

//show styling

.user {
  padding-top: 25px;

  .left, .right {
    width: auto;
    float: none;
  }

  .left {
    padding-top: 0px;
    padding-right: 50px;
  }

  .right {
    margin-left: 252px;
    padding-top: 30px;
  }

  .section-heading {
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
    left: 10px;
  }

  .left .box,
  .right .box {
    margin: 0px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 14px;
  }

  .box h1,
  .box h2,
  .box h3,
  .box h4,
  .box h5,
  .box h6 {
    margin-bottom: 5px;
  }

  .circle {
    line-height: 0;
    margin: 5px;
    border-radius: 50%;
    height: auto;
    width: auto;

    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .project-nav {
    li a {
      color: $fg-text-color;
    }
  }

  .skills {
    li {
      border-color: $fg-border-color;
      background-color: $fg-color;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 15px;
    }
  }

  .bio {
    height: 80px;
  }

  .resume-heading,
  .portfolio-heading {
    padding-bottom: 10px;
    border-bottom: 1px solid $fg-border-color;
  }

  .jobs {
    padding-bottom: 0px;
    height: auto;

    .job {
      height: auto;

      .job-inner {
        display: inline-block;
        width: 100%;
      }

      .job-left {
        width: 40%;
        float: left;
        clear: left;
      }

      .job-right {
        width: 50%;
        float: right;
        clear: right;
      }

      .title {
        margin-bottom: 0px;
      }

      .dates {
        color: $footer-text-color;
      }

      .description {
        margin-bottom: 0px;
      }
    }
  }
}

//edit styling

.linkedin-account {
  height: 58px;
  border-bottom: 1px solid $fg-border-color;
}

.sync {
  height: 68px;
  border-bottom: 1px solid $fg-border-color;

  h4 {
    clear: left;
    line-height: 46px;
  }

  .github-account-sync {
    clear: right;
    position: relative;
    top: 3px;
  }
}

.linkedin-account-connect,
.linkedin-account-disconnect,
.linkedin-account-sync,
.github-account-sync {
  margin-left: 28px;
  margin-bottom: 30px;
}

.delete-account {
  position: relative;
  top: 5px;
  clear: right;
}