@import "mixins";

.user {
  padding-top: 25px;
}

.user .left, .user .right {
  width: auto;
  float: none;
}

.circle {
  line-height: 0;
  margin: 5px;
  border-radius: 50%;
  height: auto;
  width: auto;
}

.circle img {
  border-radius: 50%;
  height: 192px;
  width: 192px;
}

.linkedin-account {
  height: 53px;
  border-bottom: 1px solid $fg-border-color;
}

.linkedin-account-connect,
.linkedin-account-disconnect{
  margin-bottom: 25px;
}

.delete-account {
  clear: right;
}