- ApplicationController::ALERTS.each do |alert|
  - if flash[alert.to_sym]
    %div{class: "alert alert-#{alert}"}
      %button.close{type: "button", "data-dismiss" => "alert", "aria-hidden" => true}
        &times;
      = flash[alert.to_sym]